<div class="container">
  <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()" class="row">
    <div class="col-md-4">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          placeholder="Nome"
        />
        <label for="name">Nome</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
          placeholder="Username"
        />
        <label for="username">Username</label>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Email"
        />
        <label for="email">Email</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          id="document_cpf "
          formControlName="document_cpf"
          placeholder="document_cpf"
        />
        <label for="document_cpf">CPF</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="adress "
          formControlName="adress"
          placeholder="Endereço"
        />
        <label for="adress ">Endereço</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          id="birth_date "
          formControlName="birth_date"
          placeholder="Data Nascimento"
        />
        <label for="birth_date ">Data de Nascimento</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="contact "
          formControlName="contact"
          placeholder="Contato"
        />
        <label for="contact ">Contato</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="password "
          formControlName="password"
          placeholder="Senha"
        />
        <label for="password " class="form-label">Senha</label>
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input is-valid"
          type="checkbox"
          value=""
          id="validCheck3"
          required
        />
        <label class="form-check-label" for="validCheck3">
          Aceito os Termos de Usuario
        </label>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary btn-lg">Criar</button>
    </div>
  </form>
</div>
